@import "tailwindcss";

@keyframes customPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.animate-customPulse {
  animation: customPulse 1s ease-in-out infinite;
}
